# compiled output
/dist
/tmp

# dependencies
/node_modules
/vendor

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# compiled js from typescript
src/**/.js
src/**/.js.map

# e2e
/e2e/*.js
/e2e/*.map

#logs
error_log*

#System Files
.DS_Store
Thumbs.db

#DB Creds
backend_src/config/.env