<div class="container-narrow">
  <div class="container-fulid">
    <nav class="navbar">
     <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/login" routerLinkActive="active">Log-in</a></li>
      <li><a routerLink="/signup" routerLinkActive="active">Sign Up</a></li>
     </ul>
    </nav>
  </div>

  <div class="page-header">
    <h2>
      <a routerLink="/" title="Song Domination" >{{ title }}</a>
    </h2>
    <h4>
      <small>No Ads.  No Nonsense.  Song Domination.</small>
    </h4>
  </div>

  <router-outlet></router-outlet>
</div>