<div class="page-content">
  <form #searchForm="ngForm">
    <div class="search-options-container" *ngIf="speechSupported">
     <span class="small">Voice Search:</span>
      <div class="ui-switch-container"><ui-switch [(ngModel)]="speechListening" name="speechListening" size="small" data-toggle="tooltip" data-placement="bottom" title="Automatic Voice Search"></ui-switch></div>
    </div>
    <input [(ngModel)]="searchTerm" [focus]="focusTriggerEventEmitter" name="searchQuery" type="search" placeholder="Enter Song Name ..." class="form-control input-md" #searchInput required autofocus/>
    <div class="search-btn-group">
      <button (click)="getSong()" name="search" class="btn btn-primary" [disabled]="!searchForm.form.valid">Find My Song</button>
      <button (click)="clearSearch(searchInput)" *ngIf="searchTerm" name="clear" class = "btn">Clear</button>
    </div>
  </form>

    <song-detail [song]="songResult" [haveSearched]="haveSearched"></song-detail>
</div>